In [1]:
import pandas as pd
from config import gmaps_api_key
import numpy as np
import requests
import gmaps

In [3]:
city_data_df = pd.read_csv("C:/Users/ryanj/github/World_Weather_Analysis/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,San Juan,AR,2021-11-25 17:36:36,-31.5375,-68.5364,305.01,17,0,2.55
1,1,Hobart,AU,2021-11-25 17:36:37,-42.8794,147.3294,282.07,67,40,0.89
2,2,Atuona,PF,2021-11-25 17:36:37,-9.8000,-139.0333,299.03,79,30,8.05
3,3,Mount Gambier,AU,2021-11-25 17:36:38,-37.8333,140.7667,283.10,66,75,6.69
4,4,Saskylakh,RU,2021-11-25 17:36:38,71.9167,114.0833,255.64,92,100,5.28

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gmaps_api_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))