In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gmaps_api_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("C:/Users/ryanj/github/World_Weather_Analysis/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,San Juan,AR,2021-11-25 17:36:36,-31.5375,-68.5364,305.01,17,0,2.55
1,1,Hobart,AU,2021-11-25 17:36:37,-42.8794,147.3294,282.07,67,40,0.89
2,2,Atuona,PF,2021-11-25 17:36:37,-9.8000,-139.0333,299.03,79,30,8.05
3,3,Mount Gambier,AU,2021-11-25 17:36:38,-37.8333,140.7667,283.10,66,75,6.69
4,4,Saskylakh,RU,2021-11-25 17:36:38,71.9167,114.0833,255.64,92,100,5.28

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gmaps_api_key)

In [5]:
# Get the maximum temperature.
# Google doesn't plot negative temperatures to remove do the following
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in temps], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
windy = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=windy, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 297
What is the maximum temperature you would like for your trip? 305

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2021-11-25 17:36:37,-9.8000,-139.0333,299.03,79,30,8.05
12,12,Kieta,PG,2021-11-25 17:36:42,-6.2167,155.6333,298.99,80,43,1.00
13,13,Hithadhoo,MV,2021-11-25 17:33:05,-0.6000,73.0833,300.83,70,85,7.44
14,14,Puerto Ayora,EC,2021-11-25 17:36:42,-0.7393,-90.3518,299.13,87,49,3.13
18,18,Saint-Joseph,RE,2021-11-25 17:36:44,-21.3667,55.6167,297.71,82,44,0.68
23,23,Sur,OM,2021-11-25 17:36:46,22.5667,59.5289,297.80,72,0,0.83
27,27,San Jose De Ocoa,DO,2021-11-25 17:36:48,18.5500,-70.5000,301.35,75,44,0.71
28,28,Chuy,UY,2021-11-25 17:36:48,-33.6971,-53.4616,298.05,45,100,2.42
34,34,Grand Baie,MU,2021-11-25 17:36:52,-20.0182,57.5802,298.41,74,2,2.46
36,36,Dwarka,IN,2021-11-25 17:36:52,22.2394,68.9678,298.18,57,0,2.19

In [26]:
preferred_cities_df.Country.value_counts()

BR    16
ID    14
MX     8
IN     8
US     8
      ..
UY     1
AR     1
CL     1
SL     1
TC     1
Name: Country, Length: 62, dtype: int64

In [24]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
2             Atuona      PF    299.03  -9.8000 -139.0333
12             Kieta      PG    298.99  -6.2167  155.6333
13         Hithadhoo      MV    300.83  -0.6000   73.0833
14      Puerto Ayora      EC    299.13  -0.7393  -90.3518
18      Saint-Joseph      RE    297.71 -21.3667   55.6167
23               Sur      OM    297.80  22.5667   59.5289
27  San Jose De Ocoa      DO    301.35  18.5500  -70.5000
28              Chuy      UY    298.05 -33.6971  -53.4616
34        Grand Baie      MU    298.41 -20.0182   57.5802
36            Dwarka      IN    298.18  22.2394   68.9678

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmaps_api_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print('Hotel not found .... Skipping.')

Hotel not found .... Skipping.
Hotel not found .... Skipping.
Hotel not found .... Skipping.
Hotel not found .... Skipping.
Hotel not found .... Skipping.
Hotel not found .... Skipping.
Hotel not found .... Skipping.
Hotel not found .... Skipping.
Hotel not found .... Skipping.
Hotel not found .... Skipping.
Hotel not found .... Skipping.
Hotel not found .... Skipping.

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,299.03,-9.8000,-139.0333,Villa Enata
12,Kieta,PG,298.99,-6.2167,155.6333,Uruna Bay Retreat
13,Hithadhoo,MV,300.83,-0.6000,73.0833,Scoop Guest House
14,Puerto Ayora,EC,299.13,-0.7393,-90.3518,Finch Bay Galapagos Hotel
18,Saint-Joseph,RE,297.71,-21.3667,55.6167,"""Plantation Bed and Breakfast"
...,...,...,...,...,...,...
573,Capitan Bado,PY,303.74,-23.2667,-55.5333,Hotel Suiza
574,Bairiki,KI,300.15,1.3292,172.9752,Tarawa Boutique Hotel
580,Faanui,PF,300.96,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
581,Samana,DO,302.13,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
587,Zabid,YE,301.24,14.1951,43.3152,مغرب التريبه

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))